<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime enable="false"/>
    <compilation debug="false" />
  </system.web>

  <system.webServer>
    <handlers>
      <!-- Disable ASP.NET -->
      <remove name="BlockViewHandler"/>
      <clear />
      <!-- Enable Node server.js -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="NextJsRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="server.js"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
