<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NextJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode 
      nodeProcessCommandLine="D:\Program Files (x86)\nodejs\20.11.1\node.exe"
      loggingEnabled="true"
      devErrorsEnabled="true"
      flushResponse="true"
      maxLogFileSizeInKB="10240"
      watchedFiles="server.js"
      stdoutLogFile="C:\home\LogFiles\node\iisnode-server.log"
      stderrLogFile="C:\home\LogFiles\node\iisnode-error.log"
    />
  </system.webServer>
</configuration>
