name: Deploy Next.js to Azure Web App - NextDayBite

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Upload to Azure Web App using source build
        uses: azure/webapps-deploy@v3
        with:
          app-name: "NextDayBite"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_2703031C28F44AD5B4C49BEA32097485 }}
          package: .

