name: Deploy Next.js to Azure Web App - NextDayBite

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Prisma generate
        run: npx prisma generate

      - name: Build Next.js
        run: npm run build

      - name: Prepare deployment artifact
        run: |
          mkdir deploy
          xcopy ".next\standalone" "deploy" /E /I /Y
          xcopy ".next\static" "deploy\.next\static" /E /I /Y
          xcopy "public" "deploy\public" /E /I /Y
          copy package.json deploy\
          copy web.config deploy\

      - name: Zip artifact
        run: Compress-Archive -Path deploy\* -Destination deploy.zip

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: NextDayBite
          package: deploy.zip
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_2703031C28F44AD5B4C49BEA32097485 }}

